<% include ../header %>
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="/checklogin" method="post">
							<input type="text" id="loginname"  name="username" placeholder="Username" />
							<input type="password" id="loginpassword" name="password" placeholder="********" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->

						<h2>New User Signup!</h2>
						<form action="/signup" method="post">
							<input type="text" placeholder="Username" name="username" id="signusername"/>
							<input type="email" placeholder="Email Address" name="email" id="signemail"/>
							<input type="password" placeholder="Password" name="password" id="signpassword"/>
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
						<% if(locals.success_messages){ %>
                                <h4 class="msg" style="color: green;margin-left: 10%;"><%=success_messages%></h4>
                                <% } %>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	
		<% include ../footer %>